<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Hola soy Gianpier creador de este sitio website
      <br>
      Te dejo mi informacion de contacto
        
      <ul>
        <li> <b>Correo:  </b>  gianpieryup@gmail.com</li>
        <li> <a href="https://www.linkedin.com/in/gianpier-yupanqui">LinkedIn</a></li>
        <li> <b>Telefono:</b>  1123953136    </li>
        <li> <a href="https://github.com/gianpieryup">Github Profile</a> </li>    
      </ul>
    </p>
  </div>
</section>