<div class="jumbotron mt-4">
  <h1 class="display-4">Turnos App</h1>
  <br>
  <p class="lead">Una aplicación simple para administrar turnos de un hospital, desarrollada con tecnologías Nodejs, Express, Mongodb y Javascript</p>
  <hr class="my-4">
</div>